body{
    margin: 0 ;
    background-image: url(bg_cat.jpg);
    background-position: center;
    background-repeat:  no-repeat;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;

}

img.Profile{
    width: 400px;
    border:  3px solid #f3dea9 ;
    box-shadow: 0px 5px 5px;
}
.outer{
    max-width: 1000px;
    margin: 60px auto; 
    padding: 20px; 
    background-color:rgb(247, 231, 197); 
    border-radius: 12px; 
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid black;

}
.info{
    margin-left: auto;
    margin-right: auto; 
    max-width: 900px;
    border: 2px dotted black;
    padding: 10px;
    background-color:rgb(255, 238, 214);
    color:#000080    ;
}

.name{
    color:rgb(87, 72, 11);
}
.skills{
    text-align: left;
}
.contact table {
    width: 100%;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #2e783e;
    text-decoration: underline;
}

.topnav {
    background-color:#f3dea9;
    height: 60px;
    margin-bottom: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}

button{
    background-color: #f3dea9;
    height: 30px;
    width: 100px;
    box-shadow: 0px 2px 3px;
}

button:hover{
    background-color:#2e783e;
}

button:active{
    box-shadow: 0px 0px 0px; 
}

table,th,td{
    border: 3px solid black;
    border-collapse: collapse;
    border-style: inset;
    border-color:black ;
    text-align:center;
    padding-bottom: 15px;
    margin-bottom:  20px ;
}

tr:hover{
    background-color: #f3dea9;
}


.cat_Icon{
    position: fixed;
    width: 40px;
    right: 0;
    bottom: 0;
    z-index: 1;
}

